/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}




.container {
	width:960px;
	margin: 0 auto;
}


.sl-button {
	width: 100px;
	height:30px;
	background-color: white;
	cursor: pointer;
	display: inline-block;
}
.sl-button-small {
	width: 50px;
	height:30px;
	background-color: white;
	cursor: pointer;
	display: inline-block;
}



#sl-design-section {
	width: 100%;
	height:725px;
	background-image: url(img/bg.jpg);
	background-size: auto 100%;
}


#sl-display-container {
	width:320px;
/*	height:600px;*/
	background-color: #f2f8ff;
	position: relative;
	float: left;
	border-radius: 5px;
}
#sl-display-artboard {
	width:100%;
	height:460px;
}
.sl-limb {
	background-size: 100%;
	position: absolute;
	background-size: 100%;
	position: absolute;
	opacity: 0;
	-webkit-transform:scale3d(0.7,0.7,0.7);
	-moz-transform:scale3d(0.7,0.7,0.7);
	transform:scale3d(0.7,0.7,0.7);
	-webkit-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	transform-origin:50% 50%;
	background-repeat: no-repeat;
	background-position: center;
	transition:0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transition:0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.sl-limb-selected {
	border-radius: 5px;
	background-color: rgba(255,130,100,0.2)
}


#sl-display-controls-container {
	position: relative;
	overflow: hidden;
	border-top: 1px solid #0f1c3a;
}
#sl-display-controls {
	position: relative;
	width:200%;
	height:100px;
	transition:0.6s ease-in-out;
	-webkit-transition:0.6s ease-in-out;
}
.sl-display-controls {
	position: relative;
	width: 50%;
	height:100px;
	float: left;
	text-align: center;
}
.sl-switch-controls {
	transform:translateX(-320px);
	-webkit-transform:translateX(-320px);
}
.sl-display-icon {
	width:57px;
	height:54px;
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	margin:  10px 5px 0
}
#sl-display-icon-rotl {
	background-image:url(img/rotate_left_icon.png);
}

#sl-display-icon-rotr {
	background-image:url(img/rotate_right_icon.png);
}

#sl-display-icon-layer {
	background-image:url(img/layer_icon.png);
}

#sl-display-icon-delete {
	background-image:url(img/delete_icon.png);
}
.sl-display-button {
	height:32px;
	color: #fff;
	width:150px;
	line-height: 32px;
	background-color: #db8800;
	position: absolute;
	left:50%;
	margin-left: -75px;
	border:1px solid #fff;
	bottom:-15px;
}






#sl-menu-container {
	width:432px;
	height:460px;
	background-color: #999;
	float: left;
	overflow:hidden;
}
.sl-menu-row {
	height:72px;
	position: relative;
}
.sl-menu-row-parts {
	height:324px;
	position: relative;
	overflow: hidden;
}
.sl-menu-row-parts-inner {
	width:100%;
	position: relative;
	overflow: hidden;
	transition:0.6s ease-in-out;
	-webkit-transition:0.6s ease-in-out;
}
.sl-menu-button {
	width: 52px;
	height:52px;
	margin: 10px;
	float:left;
	background-color: #fff;
	border-radius: 5px;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
		transition:0.2s ease-in-out;
	-webkit-transition:0.2s ease-in-out;
	box-shadow:1px 1px 3px rgba(0,0,0,0.35);
}
.sl-menu-sub-button {
	width: 88px;
	height:88px;
	margin: 10px;
	position: relative;
	float:left;
	color: #fff;
	background-color: #fff;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	transition:0.2s ease-in-out;
	-webkit-transition:0.2s ease-in-out;
	cursor: pointer;
	border-radius: 3px;
	box-shadow:1px 1px 3px rgba(0,0,0,0.35);
}
.sl-menu-button:hover, .sl-menu-sub-button:hover {
	background-color: #efbf71;
}
.sl-menu-button:active, .sl-menu-sub-button:active {
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35);
}

.sl-menu-sub-button-inner {
/*	width:100%;
	height:100%;
	-webkit-transform:scale3d(0.85,0.85,0.85);
	-moz-transform:scale3d(0.85,0.85,0.85);
	transform:scale3d(0.85,0.85,0.85);
	-webkit-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	transform-origin:50% 50%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	transition:0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transition:0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	border-radius: 5px;
	background-color: #fff;*/
}

.sl-menu-button-active {
	background-color: #db8800;
}

.sl-menu-swipe-left {
	transform : translateX(-1000px);
}




#sl-canvas-container {
	width: 500px;
}




.sl-bodypart {
	background-size: 100%;
	position: absolute;
}