/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}




.container {
	width:960px;
	margin: 0 auto;
}


.sl-button {
	width: 100px;
	height:30px;
	background-color: white;
	cursor: pointer;
	display: inline-block;
}
.sl-button-small {
	width: 50px;
	height:30px;
	background-color: white;
	cursor: pointer;
	display: inline-block;
}



#sl-display-container {
	width:500px;
/*	height:600px;*/
	background-color: #666;
	position: relative;
	float: left;
	overflow: hidden;
}
#sl-display-artboard {
	width:100%;
	height:500px;
}
.sl-limb {
	background-size: 100%;
	position: absolute;
	background-size: 100%;
	position: absolute;
	opacity: 0;
	-webkit-transform:scale3d(0.7,0.7,0.7);
	-moz-transform:scale3d(0.7,0.7,0.7);
	transform:scale3d(0.7,0.7,0.7);
	-webkit-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	transform-origin:50% 50%;
	background-repeat: no-repeat;
	background-position: center;
	transition:0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transition:0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.sl-limb-selected {
	border-radius: 5px;
	background-color: rgba(255,130,100,0.2)
}


#sl-display-controls {
	position: relative;
	width:200%;
	height:300px;
	background-color: #c10000;
		transition:0.6s ease-in-out;
	-webkit-transition:0.6s ease-in-out;
}
.sl-display-controls {
	position: relative;
	width: 50%;
	height:300px;
	float: left;
}
.sl-switch-controls {
	transform:translateX(-500px);
	-webkit-transform:translateX(-500px);
}



#sl-menu-container {
	width:320px;
	height:500px;
	background-color: #999;
	float: left
}
.sl-menu-row {
	clear: both;
}
.sl-menu-button {
	width: 49px;
	height:49px;
	margin: 2px;
	float:left;
	background-color: #000;
	color: #fff;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.sl-menu-sub-button {
	width: 76px;
	height:76px;
	margin: 2px;
	position: relative;
	float:left;
	border-radius: 5px;
	background-color: #000;
	color: #fff;
}
.sl-menu-sub-button-inner {
	width:100%;
	height:100%;
	-webkit-transform:scale3d(0.85,0.85,0.85);
	-moz-transform:scale3d(0.85,0.85,0.85);
	transform:scale3d(0.85,0.85,0.85);
	-webkit-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	transform-origin:50% 50%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	transition:0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transition:0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sl-menu-button-active {
	background-color: #c10000;
}


#sl-canvas-container {
	background-color: #f1f1f1;
	width: 500px;
}




.sl-bodypart {
	background-size: 100%;
	position: absolute;
}