/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}




.container {
	width:960px;
	margin: 0 auto;
}


.sl-button {
	width: 100px;
	height:30px;
	background-color: white;
	cursor: pointer;
	display: inline-block;
}
.sl-button-small {
	width: 50px;
	height:30px;
	background-color: white;
	cursor: pointer;
	display: inline-block;
}



#sl-display-container {
	width:500px;
	height:550px;
	background-color: #f1f1f1;
	position: relative;
	float: left
}
#sl-display-artboard {
	width:100%;
	height:500px;
}
.sl-limb {
	background-size: 100%;
	position: absolute;
/*	border-radius: 5px;
	border:2px dotted rgba(255,180,90,0.3);*/
}
.sl-limb-selected {
	border-radius: 5px;
	background-color: rgba(255,130,100,0.2)
}



#sl-menu-container {
	width:400px;
	height:200px;
	background-color: #999;
	float: left
}
.sl-menu-row {
	clear: both;
}
.sl-menu-button {
	width: 50px;
	height:50px;
	margin: 2px;
	float:left;
	background-color: #000;
	color: #fff;
}
.sl-menu-button-active {
	background-color: #c10000;
}


#sl-canvas-container {
	background-color: #c10f1f;
	width: 500px;
}




.sl-bodypart {
	background-size: 100%;
	position: absolute;
}